Thumbs.db
Desktop.ini
.DS_Store
*.swp

/GeneratedAssets
/Library
/Logs
/Recordings
/Temp
/UIElementsSchema
/UserSettings

/.utmp
/mono_crash.*.json
/Xcode
/Web

/*.app
/*.exe
/*.apk
/*.tgz
/*_DoNotShip
/*_ButDontShipItWithYourGame

# Skills
/skills-lock.json
/.agents/skills

# Test videos
/Assets/StreamingAssets/*.mp4
/Assets/StreamingAssets/*.mp4.meta
